.body {
    margin:0;
    padding:0;
}
* {
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    background: #efefef;
}

.header {
    margin: 0;
    height: 150px;
    background: lightsalmon;
    overflow: hidden;
}
.col {
    float:left;
}
.primary {
    width:40%;
    background: lightskyblue;
}
.secondary {
    width:40%;
    background: lightblue;
}

.footer {
    clear:both;
    height:100px;
    background: lightslategray;
}